.small-box {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.user-panel > .image > img {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 55px;
}
